{% extends 'mascotas/base.html' %}

{% block content %}
    <div class="container mt-3">
        <h1 class="text-center">Detalles de mascota</h1>
        <hr/>
    </div>
    <div class="container">
        <p><b>Nombre: </b> {{ mascota.nombre }}</p>
        <p><b>Especie: </b> {{ mascota.especie }}</p>
        <p><b>Humano: </b> <a href="{% url 'humano' humano=mascota.humano_id %}">{{ mascota.humano }}</a></p>
        <p><b>Foto: </b></p>
        <img src="{{ mascota.imagen.url }}" class="img-fluid">
        <p>Si lo deseas, puedes cambiar la foto: </p>
        <form action="{% url 'subir_foto' animal=mascota.id %}" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p><input id="id_imagen" type="file" name="imagen"></p>
            <input type="submit" value="Subir"/>
        </form>
    </div>

{% endblock %}